@{
    ViewData["Title"] = "Gerenciamento";
    @model List<Vehicle>;
}

<h1>Lista de Veículos</h1>
<table id="example" class="table table-striped table-bordered display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Montadora</th>
            <th>Modelo</th>
            <th>Age</th>
            <th>Modelo</th>
            <th>Id</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Placa</th>
            <th>Montadora</th>
            <th>Office</th>
            <th>Age</th>
            <th>Modelo</th>
            <th>Id</th>
            <th>Editar</th>
        </tr>
    </tfoot>
    <tbody>

        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Plate</td>
                <td>@vehicle.AssemblerName</td>
                <td></td>
                <td></td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Id</td>
                <td></td>
            </tr>
        }

    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Veículo</h4>
            </div>
            <div class="modal-body">
                <div class="insertHere"></div>
            </div>
            <div class="modal-footer">
                <button id="delete-item" type="button" class="btn btn-danger pull-left" style="background-color:red">Deletar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
                <button id="save-changes" type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/datatables.min.css" />


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/sweet-alert/dist/sweet-alert.js"></script>
    <script type="text/javascript" src="~/lib/data-tables/dist/datatables.min.js"></script>
    <script src="~/lib/input-mask/dist/jquery.mask.min.js"></script>
    <script src="~/js/manage-vehicles.js"></script>

}
